.mainContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 92vh;
  transition: 1s;
  overflow: hidden;
  background-color: #b5bec6;
}
/* ! Dentro tiene div de Filtros | Cartas | Paginado */

.filtro {
  /* border: 1px solid black; */
  background-color: #ffffff;
  /* border-bottom: 1px solid black; */
  /* text-align: center; */
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
  padding: 2px;
  height: 4vh;
  color: #2c2c2c;
  overflow: hidden;
  /* padding-top: 1rem; */
  /* padding-bottom: 1rem; */
  /* gap: 2vw; */
}
.filtro > label {
  color: #2c2c2c;
  /* font-size: 20vh; */
}
.Cards {
  display: flex;
  flex-direction: row;

  align-items: flex-start;
  justify-content: space-around;
  flex-wrap: wrap;
  width: 100%;
  height: 80vh;
}
.paginado {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
  padding: 2px;
  /* border: 1px solid black; */
  /* border-top: 1px solid black; */
  background-color: #ffffff;

  height: 4vh;
  /* width: 100vw; */
}

.slide_diagonal {
  color: #2c2c2c;
  border: 0.12vw solid transparent;
  background-color: #c6deec;
  border-radius: 1vw;
  padding: 0.2vw 2vw;
  display: inline-block;
  font-family: cursive;
  font-size: 0.8vw;
  cursor: pointer;
  transition: 0.7s;
  /* margin: 0; */
  margin-left: 0.5vw;
  margin-right: 0.5vw;

  /* overflow: hidden; */
}

.slide_diagonal:hover {
  font-size: 1vw;
  box-shadow: inset 400px 50px 0 0 #a2d0eb;
}
.tempContainer {
  right: 0;
  position: fixed;
  display: flex;
  flex-direction: row;
  align-items: center;
}
.tempSelected {
  border-radius: 10vw;
  margin: 0.5vw;
  /* background-color: #2c2c2c; */
  padding: 0.2vw;
  text-align: center;
}
.tempSelected > span {
  color: #2c2c2c;
  font-size: 1.2vw;
  padding-right: 0.5vw;
  padding-left: 0.5vw;
}
.tempSelected > button {
  text-align: center;
  background-color: #a8cbdf;
  border: 0.1vw solid black;
  border-radius: 10vw;
  font-size: 1.2vw;
  /* width: 1.3vw;
  height: 1.3vw; */
  /* padding-right: 1vw; */
}
.tempSelected > button:hover {
  cursor: pointer;
  font-size: 1.4vw;
  /* width: 1.5vw;
  height: 1.5vw; */

  /* font-size: 1.2vw; */
  /* padding-right: 1vw; */
}
.notFoundDataBase {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* background-image: url("https://st.depositphotos.com/59289954/52816/v/1600/depositphotos_528160436-stock-illustration-vector-funny-template-error-404.jpg"); */
  /* width: 100vw;
  height: 92vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover; */
}
.notFoundDataBase > h1 {
  /* border: 1px ; */
  background-color: rgba(255, 255, 255, 0.678);
  padding: 1rem;
  border-radius: 1rem;
}
.notFoundDataBase > img {
  margin-top: 1rem;
  margin-bottom: 1rem;
  border-radius: 1rem;
}
