.mainContenedor {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  width: 100vw;
  height: 92vh;
  border: 1px solid transparent;
  border-radius: 1rem;
  /* padding: 1rem; */
  text-align: center;
  overflow: hidden;
  /* padding: 5vh; */
}
.mainContenedor > h1 {
  background-color: rgb(236, 196, 87);
  font-size: 2.5vw;
  border-radius: 10vw;
  margin: 0;
  padding: 1vh;
  text-align: center;
  color: rgb(12, 12, 12);
}
.form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2vw;
  background-color: #b5bec6be;
  /* margin-top: 2vh; */
  border-radius: 1vw;
}
.divForm {
  border-radius: 2vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  width: 20.5vw;
  height: 72vh;
}
.divForm > span {
  color: rgb(245, 40, 40);
  font-size: 1vw;
}
.divForm > label {
  font-size: 1.2vw;
}
.divForm > input {
  width: 20vw;
  text-align: center;
  border: 1px solid #b5bec6;
  border-radius: 5px;
  box-shadow: 2px 2px 5px #606970;
  /* height: 8vh; */
}
.divForm > select {
  width: 20vw;
  border-radius: 10px;
  font-family: cursive;
}
.submit {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.submit > button {
  background-color: rgb(236, 196, 87);
  border: 1px solid transparent;
  width: 5vw;
  height: 3vh;
  border-radius: 10px;
  font-family: cursive;
  transition: 1s;
}
.submit > button:hover {
  background-color: rgb(255, 238, 184);
  border: 1px solid white;
  height: 4vh;
  width: 6vw;
  cursor: pointer;
  /* cursor: pointer; */
  /* width: 20vw;
  border-radius: 10px;
  font-family: cursive; */
}
.submit > button:disabled {
  background-color: rgb(224, 224, 224);
  cursor: default;
  border: 1px solid transparent;
}
.tempsContainer {
  /* gap: 1vw; */
  display: inline-block;
  flex-direction: row;
  justify-content: flex-start;
  align-items: start;
  flex-wrap: wrap;
  padding: 0;
  margin: 0;
}
.temp {
  padding: 0;
  margin: 0;
  display: inline-block;
}
.temp > button {
  transition: 1s;
  /* background-color: #b9b5c6fa; */

  color: rgb(59, 56, 56);
  font-size: 0.7vw;
  border: 1px solid transparent;
  background-color: transparent;
  cursor: pointer;
  font-size: 0.9vw;
}
.temp > button:hover {
  cursor: pointer;
  font-size: 1vw;
  background-color: rgb(255, 69, 69);
  border-radius: 1vw;
  margin: 5px;
}
.tempSelected {
  border-radius: 10vw;
  margin: 0.5vw;
  /* background-color: #2c2c2c; */
  padding: 0.2vw;
  text-align: center;
}
.tempSelected > span {
  color: #2c2c2c;
  font-size: 1.2vw;
  padding-right: 0.5vw;
  padding-left: 0.5vw;
}
.tempSelected > button {
  text-align: center;
  background-color: #a8cbdf;
  border: 0.1vw solid black;
  border-radius: 10vw;
  font-size: 1.2vw;
  /* width: 1.3vw;
  height: 1.3vw; */
  /* padding-right: 1vw; */
}
